.editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 60%;
  overflow: hidden;

  @media (max-width: 1200px) {
    //padding-right: 10px;
  }

  @media (max-width: 996px) {
    max-width: 100%;
    align-items: center;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 2px;

    & > * {
      margin-right: 10px;

      @media (max-width: 1200px) {
        margin: 10px;
      }
    }

    & > *:last-child {
      margin-right: 0;

      @media (max-width: 1200px) {
        margin-right: 10px;
      }
    }

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    max-height: 520px;
    max-width: 830px;
    object-fit: contain;
    filter: blur(var(--blur, 0px)) 
            Invert(var(--invert, 0%))
            sepia(var(--sepia, 0%)) 
            saturate(var(--saturate, 100%))
            hue-rotate(var(--hue, 0deg));
  }

  &__fullsize {
    position: absolute;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0;
    outline: 0;
    background-size: contain;
    transition: 0.3s;
    cursor: pointer;
    background-image: url(../assets/images/fullscreen-open.svg);

    &--active {
        background-image: url(../assets/images/fullscreen-exit.svg);
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }

    @media screen and (max-width: 767px) {
        position: fixed;
        top: 10px;
        right: 20px;
    }
  }
}
